/** Button style credit: https://bootstrapbay.com/blog/bootstrap-button-styles/ */
/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  font-family: 'Cousine', monospace;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.add-btn {
    font-size: 10px;
    padding: 2px 8px !important;
}

/***********************
  MEDIA QUERIES
************************/

@media screen and (max-width: 560px) {
    h1 { font-size: 30px !important }
    .btn:not(.add-btn) { font-size: 12px; padding: 8px 15px !important}

    div.container {
      margin-top: 175px;
    }
}

@media screen and (max-width: 350px) {
    div.container {
      margin-top: 210px;
    }
}

@media screen and (max-width: 330px) {
    div.container {
      margin-top: 245px;
    }
}

@media screen and (max-width: 293px) {
    div.container {
      margin-top: 281px;
    }
}

/*****************************
  ROW ITEM RELATED STYLES
******************************/

div.container {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 215px;
}

div.header  {
    margin-bottom: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    overflow: auto;
}

div.btn-row {
    margin: 10px;
}

div {
    font-family: 'Cousine', monospace;
    font-size: 20px;
    text-align: center;
}

span.subheader {
    color: #676565;
    font-size: 16px;
}

h1 {
    margin-bottom: 2px;
}